/* the general styling for the whole webpage */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Great+Vibes&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-main: #0f0f0f;
  --bg-secondary: #151515;
  --bg-card: #1a1a1a;
  --text-main: #dadada;
  --text-muted: #888888;
  --accent: #e48fb1;
  --accent-hover: #d55186;
  --border: #252525;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  pointer-events: none;
  z-index: 999;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 1),
    rgba(15, 15, 15, 0)
  );
  backdrop-filter: blur(5px);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon svg {
  color: var(--accent);
}

.icon-zoom {
  transition: transform 0.5s ease;
}

.icon-zoom:hover {
  transform: scale(1.1);
}

.icon:active svg {
  transform: scale(0.9);
  opacity: 0.8;
}

.icon svg path {
  fill: var(--accent);
  transition: fill 0.4s ease;
}

.icon:hover svg path {
  fill: var(--accent-hover);
}

hr {
  border: 1px solid var(--border);
  margin: 60px 0;
}

.section-title {
  font-size: 28px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline var(--accent) 3px solid;
}

.button {
  display: inline-block;
  background-color: var(--accent);
  color: var(--bg-main);
  border: 1px solid var(--accent);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px 0;
  text-decoration: none;
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out,
    border-color 0.5s ease-out;
}

.button:hover {
  background-color: var(--bg-main);
  color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.button:active {
  transform: scale(0.9);
}

a::selection, p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background-color: var(--accent);
  color: var(--bg-main);
}


/* navigation bar styling */
/* done fixing */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  margin: 15px 20px 0 20px;
  height: 60px;
  padding: 0 30px;
  background-color: var(--bg-secondary);
  position: fixed;
  border: var(--border) 1px solid;
  width: calc(100% - 40px);
  box-shadow: 0 10px 10px #00000066;
  z-index: 1000;
}

.nav-link {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 500;
  font-size: 13px;
  opacity: 90%;
  transition: color 0.5s ease-;
}

.nav-link:hover {
  color: var(--accent);
}

#nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

#menu-toggle {
  display: none;
  cursor: pointer;
}

#refrech {
  text-decoration: none;
  font-family: capriola, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--accent);
}

.translate {
  padding-bottom: 5px;
}

@media (max-width: 790px) {
  #nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--bg-secondary);
    flex-direction: column;
    width: 300px;
    height: 100vh;
    display: none;
    text-align: center;
    padding: 20px 0;
  }
  #nav-links.active {
    display: flex;
  }
  #menu-toggle {
    display: block;
  }
  #refrech {
    font-size: 14px;
  }
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* home section styling */

#home {
  padding: 150px 20px 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

#text-left {
  margin-top: 15px;
  padding-right: 20px;
  text-align: left;
}

#img-right {
  margin-top: 15px;
  padding-left: 20px;
}

#my-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--accent);
  box-shadow: none;
  margin: 20px 20px 0 20px;
  transition: all 0.4s ease;
}

#my-img:hover {
  border-color: var(--accent-hover);
  transform: scale(1.05);
}

#btn-cv {
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 25px;
  font-size: 14px;
}

#btn-contact {
  display: inline-block;
  background-color: var(--bg-main);
  color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px 15px;
  text-decoration: none;
  transition: all 0.5s ease;
}

#btn-contact:hover {
  color: var(--accent-hover);
  border-color: var(--accent-hover);
}

#hello {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

#home-name {
  font-size: 20px;
  margin-bottom: 5px;
}

#namespan {
  margin-left: 5px;
  font-size: 40px;
  font-weight: bold;
  color: var(--accent);
}

#home-desc {
  font-size: 18px;
  margin-bottom: 10px;
}

.home-p {
  margin: 0;
  line-height: 1.5;
}

.tracking-in-expand {
  animation: tracking-in-expand var(--animation-duration) var(--animation-ease) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  #home {
    padding: 140px 10px 40px 10px;
  }
  .home-container {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }
  #my-img {
    width: 170px;
    height: 170px;
  }
  #hello {
    font-size: 15px;
    margin-bottom: 5px;
  }
  #home-name {
    font-size: 15px;
  }
  #namespan {
    font-size: 30px;
  }
  #home-desc {
    font-size: 15px;
  }
  #btn-cv {
    font-size: 13px;
  }
  #text-left {
    padding: 0;
    margin: 0;
  }
  #img-right {
    padding: 0;
    margin: 0;
  }
}

/* about section styling */
/* done fixing */
#about {
  padding: 10px;
  text-align: center;
  justify-content: center;
  scroll-margin-top: 100px;
}

#aboutme-paragraph {
  color: var(--text-muted);
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.9;
  margin-top: 30px;
  text-align: justify;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.85;
}


/* skills section styling */
/* mazal adding small div cards for each icon that shows some info about it and goes when u click again on the icon */
#skill {
  scroll-margin-top: 100px;
}

#skill-container {
  overflow: visible;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 50px;
  margin: 10px 30px 40px 30px;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon svg:hover {
  color: var(--accent-hover);
}


/* project section styling */
/* Done */
#project {
  scroll-margin-top: 100px;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.project-item {
  position: relative;
  background-color: var(--bg-card);
  border: 2px solid var(--border);
  width: 280px;
  height: 320px;
  margin: 10px;
  padding: 30px;
  overflow: hidden;
  border-radius: 15px;
  text-align: left;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-left: 2px solid var(--accent-hover);
  transform: scaleY(0);
  transform-origin: top;
  border-radius: inherit;
  pointer-events: none;
  transition: all 0.4s ease;
}

.project-item:hover::after {
  transform: scaleY(1);
}

.project-item h5 {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 18px;
  font-size: 20px;
  color: #c6c6c6;
  margin-left: 10px;
}

.project-description {
  margin-bottom: 20px;
  font-size: 15px;
  color: var(--text-muted);
  opacity: 0.85;
  margin-left: 10px;
  line-height: 1.6;
}

.project-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--accent);
  text-decoration: none;
  margin-left: 10px;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.project-link, .project-link:visited {
  color: var(--accent);
  text-decoration: none;
}


.project-link:hover {
  color: var(--accent-hover);
  text-decoration: none;
  transform: scale(1.05);
}

/* DONE */
/* contact section styling */
#contact {
  scroll-margin-top: 100px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

#email-placeholder, #message-placeholder {
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid var(--border);
  border-radius: 5px;
  background-color: var(--bg-card);
  color: var(--text-main);
  outline: none;
  transition: border-color 0.5s ease
}

#email-placeholder:focus, #message-placeholder:focus {
  outline: none;
  border-color: var(--accent-hover);
}

#message-placeholder {
  height: 300px;
  resize: none;
}

#contact-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0 15px 0;
}

#contact p {
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-muted);
}

#btn-send {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  margin: 5px 0;
}

@media (max-width: 795px) {
  #email-placeholder, #message-placeholder {
    width: 300px;
  }
  .section-title {
    font-size: 22px;
  }
}

/* DONE */
/* footer styling */
footer {
  background-color: var(--bg-secondary);
  color: var(--text-main);
  text-align: center;
  justify-content: center;
  padding: 15px;
  font-size: 12px;
  border: var(--border) 1px solid;
}

#footer-rights {
  letter-spacing: 1.5px;
  opacity: 50%;
}


.clickable {
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.clickable:active {
  transform: scale(0.90);
}